
 *{
  
  margin: 0;
  box-sizing: border-box;
 } 

.block1{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.containers{
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-left: 100px;
  margin-right: 100px; */
  display: flex;
  height: 100%;
  /* width: 500px; */
 
  justify-content: center;
  align-content: center;

  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  /* gap: 10px;
  margin-top: 10px; */
  
}
.box{
  /* margin-top: 10px; */
  column-gap: 2rem;
 
border: 2px solid black;
height: 300px;
width: 300px;
object-fit: cover;
box-shadow:0 0 10px white;
text-align: start;
margin: 1rem;
padding-top:2rem ;
border-radius: 20px;
background-size: cover;
background-repeat: no-repeat;


}
.img1{
  background-image: url(sport-3.jpg);

}

.img2{
  background-image: url(sport-1.jpg);

}
.img3{
  background-image: url(sport-3.jpg);

}

h1{
  border-radius: 1px;
  display: inline-block;
  background-color: azure;
  color:rgb(22, 2, 2);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 10px;
text-align:start;
margin-top: 50%;

}

.box:hover{

  /* margin-top: 10px; */
 color: rgb(202, 202, 214);
border: 1px solid black;
height: 310px;
width: 410px;
background-color: rgb(198, 98, 229);
box-shadow:0 0 10px rgb(30, 28, 28);
text-align: center;
font-size: smaller;
text-transform: capitalize;
margin: 1rem;
padding-top:2rem ;
transition: 0.5s;
background-size: cover;

}
h1{
margin-top:1rem ;
margin-left: 41%;

}

.img4{
  background-image: url(sport-2.jpg);

}
.img5{
  background-image: url(sport-3.jpg);

}
.img6{
  background-image: url(sport-1.jpg);

}
.img7{
  background-image: url(sport-1.jpg);

}
.img8{
  background-image: url(sport-2.jpg);

}
.img9{
  background-image: url(sport-3.jpg);

}

.block2{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  }
  .block3{

    justify-content: center;
  align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }